.form-builder-container{
    border-right-style: dotted;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .builder-block{
        display: flex;
        flex-direction: column;
    }

    .builder-block-child{
        display: flex;
        justify-content: center;
        align-items: center;
        
        div{
            margin:auto 20px;
            *{
                margin: 1px;
            }
        }
    }

    .add-button{
        align-self: center;
        border-radius: 100vw;
        width: 35px;
        height: 35px;
        font-size: 1.5rem;
        background-color: var(--clr-white);
        border: 1px solid var(--clr-black);
        margin: 10px;
    }

    .submit-button{
        align-self: center;
        width: 80px;
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    .input-block{
        align-self: center;
        width: 400px;
        padding: 1rem;
    }

    .step-form-editor{
        height: 300px;
        overflow: scroll;
    }

    .m16{
        margin: 1rem;
    }
}