.step-form-editor {
    height: 450px;
    overflow: scroll;


    .builder-block {
        display: flex;
        flex-direction: column;
    }

    .builder-block-child {
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            margin: auto 20px;

            * {
                margin: 1px;
            }
        }
    }

    .add-button {
        align-self: center;
        border-radius: 100vw;
        width: 35px;
        height: 35px;
        font-size: 1.5rem;
        background-color: var(--clr-white);
        border: 1px solid var(--clr-black);
        margin: 10px;
    }

    .input-block-another{
        margin: 10px;
        padding: 1rem;
        width: 400px;
        text-align: left;
        display: flex;
        margin-left: 35px;
    }

    .input-block {
        align-self: center;
        width: 400px;
        padding: 1rem;
    }

}

.submit-button{
    padding: 2px;
}
