.forms-container {

    table,
    td,
    th {
        border: 1px solid;
    }

    table {
        text-align: center;
        width: 100%;
        border-collapse: collapse;
    }

    .m16{
        margin: 1rem 1px;
    }
}