.voting-card-wrapper{
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    gap: 1rem;

    .voting-card{
        border: 1px solid var(--clr-light-grey);
        gap: 1rem;
        padding: 1rem;
        border-radius: 1rem;

        .grid-2{
            gap: 1rem;
            display: grid;
            grid-template-columns: auto auto;
        }
    }
 
    .flex{
        display: flex;
    }
}
