.voting-card-wrapper{
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    gap: 1rem;

    .voting-card{
        border: 1px solid var(--clr-light-grey);
        display: grid;
        justify-content: center;
        grid-template-columns: auto auto;
        gap: 1rem;
        padding: 1rem;
        border-radius: 1rem;
    }
 
    .flex{
        display: flex;
    }
}
