.form-builder-container{
    border-right-style: dotted;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .builder-block{
        display: flex;
        flex-direction: column;
    }

    .add-button{
        align-self: center;
        border-radius: 100vw;
        width: 35px;
        height: 35px;
        font-size: 1.5rem;
        background-color: var(--clr-white);
        border: 1px solid var(--clr-black);
        margin: 10px;
    }

    .input-block{
        align-self: center;
        width: 200px;
        padding: 1rem;
    }
}